{%extends 'main.html'%}
{% load static%}

{% block content%}



  
  <body>
    <div class="centered-form">
        <div class="card">
          <h1>New Member Registration Form</h1>
          <div class="image-container" style="position: absolute;top: 150px;right: 100px;left: auto;height: auto;width: auto;">
          <img src="{%static 'images/icon.svg'%}" alt="" style="height: fit-content ;width: fit-content;">
          </div>

          <hr>
      
    
        <form action="{%url 'project-create'%}" class="form auth__form" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            
            {%for item in form %}

          <!-- Input:Text -->
          <div class="form__field">
            <label for="formInput#text">{{item.label}}</label>
            
            {{item}}
            <br>
            <br>
            
            {%for error in item.errors %}
            <p style="color: red;">{{error}}</p>
            {%endfor%}
          
          </div>
            {%endfor%}
         
          
          <div class="auth__actions">
            <input  type="submit" value="Register" class="cancel-button" />
          </div>
        </form>
      </div> 
    </div> 

      
    
  </body>

{%endblock content%}

